{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression" : "ProductType = :ProductType",
        "expressionValues" : {
            ":ProductType" : $util.dynamodb.toDynamoDBJson($context.arguments.ProductType)
        }
    },
    "consistentRead" : true
}